{
  "name": "${PACKAGE_NAME}",
  "version": "${VERSION}",
  "description": "Platform-specific binary for gql-safeguard",
  "author": "Jan Nicklas",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/jantimon/gql-safeguard.git"
  },
  "license": "MIT",
  "os": ["${OS}"],
  "cpu": ["${CPU}"],
  "engines": {
    "node": ">=20"
  },
  "main": "bin/gql-safeguard${EXE_SUFFIX}",
  "bin": {
    "gql-safeguard-bin": "bin/gql-safeguard${EXE_SUFFIX}"
  },
  "files": [
    "bin/gql-safeguard${EXE_SUFFIX}",
    "README.md"
  ],
  "publishConfig": {
    "access": "public"
  }
}